body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to left top, rgb(23, 73, 121), rgb(77, 13, 97));
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff5f5;
	font-family: "Courier New", Courier, monospace;
	min-height: 100vh;
}

a {
    text-align: center;
    color: white;
    }

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	background-color: rgb(57, 9, 102);
	height: 25px;
	padding: 5px;
	margin-bottom: 5px;
	justify-content: center;
}

/* tu homePage.html */
br {
	color:#fff5f5;
}

.form-gorup {
	text-align: center;
}


.container {
	width: 80%;
	margin: 0 auto;
}

.item1 {
	font-size: 30px;
	margin-top: 100px;
	text-align: center; 	
}

.item2 {
	margin-top: 25px;
	place-items: center;
	display: grid;
	padding: 3px;
	position: relative;            
	border-radius: 5px;   
	box-shadow: 0 0 20px white;     
	background: rgba(0, 0, 0, 0.2);
	margin: 10px auto;
}

.przyciski {
	display:inline-flex;
	margin: 10px;
	gap: 10px;
}

h2 {
	margin: 10px 10px 10px 10px;
	text-align: center;
}

button[type="submit"] {
	cursor: pointer; 
	background-color: #9d76d4;
	padding: 20px;
	min-width: 150px;
	min-height: 40px;
	color: #ffffff;
	text-align: center;
	line-height: 0px;
	border: 4px double #cccccc; 
	border-radius: 10px;
	font-size: 18px; 
	transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
	background-color: #982fc2;
	transform: scale(1.1);
}


/* tu login.html */

.układ {
	display:grid;
	text-align: center;
}

.logowanie {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
}

label {
	font-weight: bold;
    color: #f0c8f8;

}

input[type="text"],
input[type="password"] {
	width: 375px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.login {
	align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    flex-basis: 30%; /* Szerokość etykiety */
}

/* przycisk powrót */
.powrot {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.powrot button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px; /* Zaokrąglenie do uzyskania kształtu okrągłego */
    background: rgba(58, 110, 158, 0.322);
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
    transition: background-color 0.3s, transform 0.3s;
}

.powrot button:hover {
    background-color: #1d6b8f;
    transform: scale(1.1); /* Powiększenie przycisku po najechaniu */
}


        .form-group2 {
            margin-bottom: 20px;
        }

        .form-group2 label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group2 input {
            width: 100%;
            padding: 5px;
        }

        .form-group2 button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }





