<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="/style/styles.css"/> -->
    <link rel="stylesheet" href="/src/main/resources/static/style/styles.css"/>
</head>
<body>
    <div class="container"> 

        <div class="item1">
        <h1>Recenzjomacz</h1>
        </div>

        <div>
            <center>
            <p>Twój prywatny notes do zapisywania i dodawania obejrzanych filmów</p>                
            </center>
        </div>
        <br>

        <div class="item2">
            <h2 class="zaloguj">Aby uzyskać dostęp do swoich danych musisz się zalogować lub utworzyć nowe konto</h2>
            <br>
            <div class="przyciski">
                <form action="/loginPage" method="post">
                    <button type="submit">Login</button>
                </form>

                <form action="/register" method="get">
                    <button type="submit">Rejestracja</button>
                </form>
        </div>


    <footer class="wrapper">Aleksandra Pabian, Julia Grzankowska</footer>

</body>
</html>