<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
    <!--    <link rel="stylesheet" href="/src/main/resources/static/style/styles.css"/>-->
</head>
<body>
<div class="container">

    <div class="item1">
        <h1>Recenzjomacz</h1>
    </div>

    <div>
        <center>
            <p th:text="#{hello.opis}"></p>
        </center>
    </div>
    <br>

    <div class="item2">
        <h2 class="zaloguj" th:text="#{hello.zaloguj}"></h2>
        <br>
        <div class="przyciski">
            <form action="/login" method="get">
                <button type="submit" th:text="#{hello.login}"> </button>
            </form>


            <form action="/register" method="get">
                <button type="submit" th:text="#{hello.register}"></button>
            </form>
        </div>
    </div>

    <a href="?lang=en">English</a>
    <a href="?lang=pl">Polish</a>

</div>


<footer class="wrapper">Aleksandra Pabian, Julia Grzankowska</footer>


</body>
</html>