<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>

</head>
<body>

<div class="item1">
    <h1 th:text="#{home.home}"></h1>
</div>

    <!--    go to addReview page -->
        <form th:action="@{/home/addReviewForm}" method="post">
            <div class="form-group">
                <button type="submit">Dodawanie recenzji</button>
            </div>
        </form>
        <!--    go to myReviews page -->
        <form th:action="@{/home/myReviewsForm}" method="post">
            <div class="form-group">
                <button type="submit">Moje recenzje</button>
            </div>
        </form>
</body>
</html>