<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
<!--na razie zrobie na moje potrzeby zeby dawalo od razu do home-->
<form th:action="@{/home}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username"
           autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
<!--<form th:action="@{/login}" method="post">-->
<!--    <label for="username">Username</label>:-->
<!--    <input type="text" id="username" name="username"-->
<!--           autofocus="autofocus" /> <br />-->
<!--    <label for="password">Password</label>:-->
<!--    <input type="password" id="password" name="password" /> <br />-->
<!--    <input type="submit" value="Log in" />-->
<!--</form>-->

</body>
</html>