<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css"/>

    <title>Registration Form</title>
</head>
<body>
<div class="item1">

<h1 th:text="#{registerregister}"></h1>
</div>
    <div class="układ">

<form th:action="@{/zarejestruj}" class="logowanie" method="post">

    <label for="username" th:text="#{login.username}"></label>
    <input type="text" id="username" name="username" required>
    <span th:text="${usernameError}" style="color: red"></span>

    <label for="password" th:text="#{login.password}"></label>
    <input type="password" id="password" name="password" required>
    <span th:text="${passwordError}" style="color: red"></span>

    <!-- Dodaj komunikat błędu, jeśli wystąpił błąd rejestracji -->
    <span th:text="${errorMessage}" style="color: red"></span>
    <div class="login">
    <button type="submit" th:text="#{hello.register}"></button>
    </div>
</form>


<a href="?lang=en">English</a>
<a href="?lang=pl">Polish</a>
</div>

</body>
</html>
