<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
<div class="item1">
    <h1>Dodaj recenzje</h1>
</div>

<div class="item2">
    <form th:action="@{/addReview/add}" method="post">
        <div class="form-group2">
            <h2>Dodaj recenzje filmu</h2>
            <label>Tytuł</label>
            <input type="text" name="Title" required>

            <label>Reżyser</label>
            <input type="text" name="Director" required>

            <label>Opis</label>
            <input type="text" name="Description" required>

            <label>Gatunek</label>
            <input type="text" name="Genre" required>

            <label>Rok wydania</label>
            <input type="text" name="ReleaseYear" required>

            <label>Plakat</label>
            <input type="text" name="PosterImg" required>


            <label>Recenzja</label>
            <input type="text" name="Text" required>

            <label>Ocena w formie gwiazdek</label>
            <input type="number" name="Rate" required>

            <label>Zdjęcia</label>
            <input type="text" name="url" required>
            <input type="text" name="Photos2" required>
            <input type="text" name="Photos3" required>

            <button type="submit">Dodaj film</button>
        </div>
    </form>
</div>
</body>
</html>