<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
    dodawnai recenzji
    <form th:action="@{/addReview/add}" method="post">
        <div class="form-group">
            <h2>Dodaj recenzje filmu</h2>
            <label>Tytuł</label>
            <input type="text" name="Title" required>

            <label>Reżyser</label>
            <input type="text" name="Director" required>

            <label>Opis</label>
            <input type="text" name="Description" required>

            <label>Gatunek</label>
            <input type="text" name="Genre" required>

            <label>Rok wydania</label>
            <input type="text" name="ReleaseYear" required>

            <label>Plakat</label>
            <input type="text" name="PosterImg" required>


            <label>Recenzja</label>
            <input type="text" name="Text" required>

            <label>Ocena w formie gwiazdek</label>
            <input type="number" name="Rate" required>

<!--            <label>Zdjęcia</label>-->
<!--            <input type="text" name="Photos[]" required>-->
<!--            <input type="text" name="Photos[]" required>-->
<!--            <input type="text" name="Photos[]" required>-->

            <label>Zdjęcia</label>
            <input type="text" name="Photos1" required>
            <input type="text" name="Photos2" required>
            <input type="text" name="Photos3" required>

            <button type="submit">Dodaj film</button>
        </div>
    </form>
</body>
</html>