<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
    recenzja pojedyncza
    <label>Tytul</label>
    <p th:text="${movie.getTitle()}"></p>
    <p th:text="${review.getText()}"></p>
    <p th:text="${review.getRate()}"></p>
<!--    <p th:text="${phothos.get(0).getUrl()}"></p>-->

<!--    <img th:src="${phothos.get(0).getUrl()}" alt="Opis obrazu" />-->
<!--    nie dziala to img-->
    <form th:action="@{/myReview/deleteReview}" method="post">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit">Usuń recenzje</button>
    </form>
    <form th:action="@{/editReviewPage}" method="get">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit">Edytuj recenzje</button>
    </form>
</body>
</html>