<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
    <div class="item1">
        <h1 th:text="${movie.getTitle()}"></h1>
    </div>


    <div class="zdjecia-container">
        <div th:each="photo : ${photos}" class="zdjecia">
            <img th:src="${photo.url}" class="zdjecie">
        </div>
    </div>


    <div class="item2">
    Opis:<p th:text="${review.getText()}"></p>
    Ocena:<p th:text="${review.getRate()}"></p>

    <!--    <img th:src="${phothos.get(0).getUrl()}" alt="Opis obrazu" />-->
    <!--    nie dziala to img-->

    <form th:action="@{/myReview/deleteReview}" method="post">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit">Usuń recenzje</button>
    </form>
    <form th:action="@{/editReviewPage}" method="get">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit">Edytuj recenzje</button>
    </form>
        <br>
</div>
</body>
</html>