<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    recenzja pojedyncza
    <label>Tytul</label>
<!--    <label th:text="${review.getTitle()}" class="text"></label>-->
<!--    <p th:text="${review.getRezyser()}"></p>-->
<!--    <p th:text="${review.getGatunek()}"></p>-->
<!--    <p th:text="${review.getPlakat()}"></p>-->
<!--    <p th:text="${review.getReview()}"></p>-->
<!--    <p th:text="${review.getStars()}"></p>-->
    <form th:action="@{/myReview/deleteReview}" method="post">
        <input type="hidden" th:name="id" th:value="${review.id}" />
        <button type="submit">Usuń recenzje</button>
    </form>
    <form th:action="@{/editReview}" method="get">
        <input type="hidden" th:name="id" th:value="${review.id}" />
        <button type="submit">Edytuj recenzje</button>
    </form>
</body>
</html>